# Configuration file

~CONFIG_VERSION: rv6-stable-7

counters {
    I:lastGridStorage=267
    I:lastPlayer=1
}


gridstorage {
    S:180=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
}


players {
    I:c824fd8e-ad24-469e-a1e3-188b01fb87ed=0
}


