# Configuration file

~CONFIG_VERSION: rv6-stable-7

counters {
    I:lastGridStorage=316
    I:lastPlayer=2
}


gridstorage {
    S:313=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXIoljzAAAIA0sAO/BUAAAA=
}


players {
    I:8d535945-e9dd-4ae0-be2b-ac3ca9dc5d49=0
    I:f7a117cc-a9b0-4931-ac76-63e42cf827b3=1
}


